body{
  margin: 0;
  background:linear-gradient(to right, rgb(142, 223, 255), rgb(245, 0, 0));
  font:'Raleway','sans serif';
  color: rgba(0,0,0,.5);
}

.done {
    text-decoration: line-through;
}

.boxmodel{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 20px 0;
}
#enter,#userinput {
    text-align: center;
    margin: 0 5px;
  
}

li{
  text-transform: capitalize;
  margin-left: auto;
  color: black;
  list-style: none;
}

.btitens{
 color: white;
 padding:0;
 height: 0;
 width: 0;
 border: none;
 margin: 10px;
}

.btitens:hover{
  text-transform: uppercase;
  color: rgba(12, 22, 68, 0.5);
}
.lista{
  display: flex;
  justify-content: center;

}

