body{
  margin: 0;
  background: url(img/img-caderno.jpg.jpeg) no-repeat center center/cover;
  height: 100vh;
  font:'Raleway','sans serif';
  color: rgba(0,0,0,.5);
}

.principal{
  display: flex;
  flex-grow: initial;
}

#insidebt{
  border-radius: 15px;
  border: solid 1px white;
}