body{
  margin: 0;
  font:'Raleway','sans serif';
  color: rgba(0,0,0,.5);
}

.done {
    text-decoration: line-through;
}
/*input texto*/
.boxmodel{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 20px 0;
}
#userinput{
  border-radius:10px;
  box-shadow: 0 0 3px black;
  background: transparent;
}
#enter,#userinput {
    text-align: center;
    margin: 0 5px;
  
}
#enter{
  border: none;
  border-radius: 7px;
  background-color:cadetblue;
  color: white;
  box-shadow: 0 0 2px wheat;
}
#enter:hover{
  background-color: white;
  color: black;
}

li{
  text-transform: capitalize;
  margin-left: auto;
  color: black;
  list-style: none;
}

.btitens{
 color:red;
 padding:0;
 height: 0;
 width: 0;
 border: none;
 margin: 10px;
}

.btitens:hover{
  text-transform: uppercase;
  color: rgba(12, 22, 68, 0.5);
}
.lista{
  display: flex;
  justify-content: center;

}

